*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #616161;
}

.tudo{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.tudo > h1{
    margin-bottom: 20px;
}

.tudo > h3{
    margin-top: 20px;
}

.btn-init{
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 10px 0 #048a10;
    transition: background-color 2s, color 0.5s;
    background-color: white;
}

.btn-init:hover{
    cursor: pointer;
    background-color: #048a10;
    color: white;
}

.pergunta{
    width: 350px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px 0 #048a10;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}
.pergunta > form > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conta{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conta > h3{
    margin: 10px;
}

.botaoconta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.botaoconta > input{
    margin: 20px;
}


.btnconta {
    align-items: center;
    border: none;
    background-color: #FFFFFF;
    border-radius: .25rem;
    box-shadow: 0 0 10px 0 #048a10;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 90%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    font-size: 30px;
}

.btnconta:hover,
.btnconta:focus {
    border-color: #048a10;
    box-shadow: #048a10 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.btnconta:hover {
    transform: translateY(-1px);
}

.btnconta:active {
    background-color: #F0F0F1;
    border-color: #048a10;
    box-shadow: #048a10 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}